.container {
  /*  display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    display: grid;
  /*  grid-template-columns: 200px 200px 200px;*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   /* gap: 10px;*/


}
h1 {
    font-family: fantasy;
}

img {
  width: 200px;
    height: 200px;
   /*   margin: 10px;*/
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 20px;
}

.done{

    text-decoration: line-through;
}